
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.fixContent {
    word-break: break-word;
}

.messageFormat {
    max-width: 60%;
    padding-top: 2%;
}
